@media only screen and (max-width: 450px){
    nav{
        height: 250px;
        text-align: center;
        position: static;
        flex-direction: column;
        transition: all 0.7s ease-in-out;
    }
    
    nav ul li a{
        padding: 0 1vh;
        font-size: 20px;
        margin-top: 100px;
        margin: 10px;
    }

    nav ul li{
        margin-top: 100px;
    }
    
    .nav-ul {
        flex-direction: column;
        transition: all 0.7s ease-in-out;
    }
    
    .burger{
        display: block;
        /* right: 150px; */
    }

    .burger-nav{
        height: 22px;
    }

    .opacity-class{
        opacity: 0;
    }
}

@media only screen and (max-width:830px){
    .front{
        height: 250px !important;
    }
}

@media only screen and (max-width:1200px){
    .latest-blogs{
        display: block;
    }

    .front h1{
        font-size: 40px;
        margin-top: 10px;
        padding-top: 15px;
    }

    .quote{
        font-size: 15px;
    }

    .front button{
        font-size: 15px;
    }

    .blogs-box{
        width: 85%;
        margin-bottom: 20px;
        height: 80vh;
        border-radius: 10px;
    }

    .blogs img{
        align-items: center;
        justify-content: center;
        display: flex ;
        margin-left: auto;
        margin-right: auto;
        width: 40vw;
        height: 50vh;
        text-align: center;
    }

    .all-box{
        display: block;
        margin-bottom: 50px;
    }

    .simulation-shortcut{
        height: auto;
        width: 40vw ;
    }

    .simulation-shortcut-header{
        font-size: 30px;
        margin-left: auto;
        width: 435px;
        margin-right: auto;
        margin-top: auto;
    }

    .flipbox{
        width: 90vw !important;
        margin: 47px 50px 0 20px !important;
    }

    .frontside img{
        width: 85vw !important;
    }

    .happy-clients{
        height: auto;
    }

    .clients-para{
        font-size: 20px;
        width: 335px;
        margin-left: 15px;
        padding-bottom: 55px;
    }
}
